@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
/*
font-family: 'Caveat', cursive;
*/
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f5ecdd00;
    overflow: hidden;
}
.wrapper {
    display: flex;
    max-width: 68.75rem;
    margin: 0 auto;
    overflow: hidden;
}
.slider-wrapper {
    width: 100%;
    z-index: 1;
    padding-top: 1.25rem;
}
.slider {
    display: flex;
    justify-content: space-around;
    width: 500%;
    transition: all 1s ease;
}
input[name="rb"] {
    position: absolute;
    visibility: hidden;
}
.slide {
    width: 100%;
    display: flex;
    justify-content: center;
}
.slide img{
    max-width: 45rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px black;
}
.text-nav-wrapper {
    display: flex;
    max-width: 45.25rem;
    margin: 1rem auto;
}
.text-wrapper {
    display: flex;
    padding-left: 0.5rem;
    height: 2rem;
    flex-grow: 1;
    transition: all 1s ease;
    overflow: hidden;
}
.text-wrapper p {
    position: absolute;
    display: block;
    height: 2rem;
    line-height: 2rem;
    transition: all 1s ease;
    margin-left: 10%;
    opacity: 0;
    font-family: 'Caveat', cursive;
    font-size: 2rem; 
}
.nav-wrapper {
    display: flex;
    z-index: 10;
}
.circle {
    width: 1rem;
    height: 1rem;
    margin: 0.5rem;
    cursor: pointer;
    background-color: aqua;
    border-radius: 50%;
    transition: all 1s ease;
}
.circle:hover {
    background-color: brown;
    transform: scale(1.1);
}
